@config "../tailwind.config.js";
@import "tailwindcss";


@theme inline {
  --color-background: var(--lightBlue);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #333333;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}
