@config "../tailwind.config.js";
@import "tailwindcss";


@theme inline {
  --color-background: var(--lightBlue);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #333333;
    --toastify-font-family: var(--font-tajawal), sans-serif;

  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #DFDFDF;
  border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}
html {
  scroll-behavior: smooth;
}

.custom-x-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #cbd5e1 transparent;
  -webkit-overflow-scrolling: touch;
}
.custom-y-scrollbar {
  -webkit-overflow-scrolling: touch;
}
/* Horizontal scrollbar only */
.custom-x-scrollbar::-webkit-scrollbar:horizontal {
  height: 4px;
}

.custom-x-scrollbar::-webkit-scrollbar-track:horizontal {
  background: transparent;
}

.custom-x-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.custom-x-scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #94a3b8;
}

.Toastify__toast-container,
.Toastify__toast,
.Toastify__toast-body,
.Toastify__toast * {
  font-family: var(--font-tajawal), sans-serif !important;
}